name: Builder

on:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    build:
        name: Build ${{ matrix.arch }}
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        strategy:
            matrix:
                include:
                    - arch: amd64
                      platform: linux/amd64
                    - arch: aarch64
                      platform: linux/arm64
                    - arch: armv7
                      platform: linux/arm/v7
                    - arch: armhf
                      platform: linux/arm/v6
                    - arch: i386
                      platform: linux/386

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  platforms: ${{ matrix.platform }}
                  build-args: BUILD_FROM=ghcr.io/hassio-addons/debian-base:7.1.0
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/ha-cups-addon-x86-${{ matrix.arch }}:${{ github.ref_name }}
                      ghcr.io/${{ github.repository_owner }}/ha-cups-addon-x86-${{ matrix.arch }}:latest
